<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderDetail">
	<resultMap type="OrderDetail" id="joinMap">
		<id column="order_id" property="order_id" />
		<result column="buyer_id" property="buyer_id" />
		<association column="state_id" javaType="State" property="state" select="State.select" />
		<association column="product_id" javaType="Product" property="product" select="Product.select" />
		<association column="member_id" javaType="Member" property="member" select="Member.select" />
	</resultMap>
	
	<insert id="insert" parameterType="OrderDetail">
		insert into order_detail(order_id, product_id, member_id )
		values(seq_order_detail.nextval, #{product.product_id}, #{member.member_id})
	</insert>
	
	<!-- 로그인한 회원의 가입 지역과 같은 지역으로 등록된 상품번호 찾기 -->
	<select id="selectProduct" parameterType="String" resultMap="joinMap">
		select order_detail.order_id, order_detail.product_id, order_detail.member_id, order_detail.state_id
		from order_detail
		inner join member 
		on member.member_id=order_detail.member_id 
		where member.locate like '%'||#{address}||'%' and (order_detail.state_id=1 or order_detail.state_id=2) 
	</select>
	
	<!-- 상품 상세 페이지 조회 -->
	<select id="select" parameterType="int" resultMap="joinMap">
		select * 
		from order_detail
		where product_id=#{product_id}
	</select>
	
	<select id="selectJoin" parameterType="int" resultMap="joinMap">
		select * 
		from order_detail
		inner join product
		on product.product_id = order_detail.product_id
		where order_detail.product_id=#{product.product_id}
	</select>
	
	<!-- 카테고리별 상품 보기 -->
	<select id="selectProductByCategory" parameterType="int" resultMap="joinMap">
		select * from order_detail 
		inner join product 
		on order_detail.product_id = product.product_id and product.category_id=#{category_id}
		where order_detail.state_id=1 or order_detail.state_id=2
	</select>
	
	<!-- 판매 내역 조회 -->
	<select id="selectSale" parameterType="int" resultMap="joinMap">
		select * from order_detail
		inner join product
		on order_detail.product_id = product.product_id 
		where member_id=#{member.member_id}
	</select>
	
	<!-- 구매 내역 조회 -->
	<select id="selectBuy" parameterType="int" resultMap="joinMap">
		select * from order_detail
		inner join product
		on order_detail.product_id = product.product_id 
		where buyer_id=#{member.member_id}
	</select>
	
	<!-- 판매자가 등록한 상품 삭제시 판매자 정보를 0으로 바꿈 -->
	<update id="updateSaler" parameterType="int">
		update order_detail set member_id=0, product_id=0
		where product_id=#{product_id} 
	</update>
	
	<!-- 상품 거래 상태 업데이트 -->
	<update id="updateState" parameterType="OrderDetail">
		update order_detail set state_id=#{state.state_id}, buyer_id=0
		where product_id=#{product.product_id}
	</update>
	
	<!-- 거래완료 시 구매자 업데이트 -->
	<update id="updateBuyer" parameterType="OrderDetail">
		update order_detail set buyer_id=#{buyer_id}
		where product_id=#{product.product_id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from order_detail where product_id=#{product_id}
	</delete>
</mapper>