<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderDetail">
	<resultMap type="OrderDetail" id="joinMap">
		<id column="order_id" property="order_id" />
		<result column="buyer_id" property="buyer_id" />
		<association column="state_id" javaType="State" property="state" select="State.select" />
		<association column="product_id" javaType="Product" property="product" select="Product.select" />
		<association column="member_id" javaType="Member" property="member" select="Member.select" />
	</resultMap>
	
	<insert id="insert" parameterType="OrderDetail">
		insert into order_detail(order_id, product_id, member_id )
		values(seq_order_detail.nextval, #{product.product_id}, #{member.member_id})
	</insert>
	
	<!-- 로그인한 회원의 가입 지역과 같은 지역으로 등록된 상품번호 찾기 -->
	<select id="selectProduct" parameterType="String" resultMap="joinMap">
		select order_detail.order_id, order_detail.product_id, order_detail.member_id, order_detail.state_id
		from member, order_detail
		where member.member_id=order_detail.member_id and member.locate like '%'||#{address}||'%'
	</select>
	
	<select id="select" parameterType="int" resultMap="joinMap">
		select * 
		from order_detail
		where product_id=#{product_id}
	</select>
	
	<!-- 판매자가 등록한 상품 삭제시 판매자 정보를 0으로 바꿈 -->
	<update id="updateSaler" parameterType="int">
		update order_detail set member_id=0, product_id=0
		where product_id=#{product_id} 
	</update>
	
	<delete id="delete" parameterType="int">
		delete from order_detail where product_id=#{product_id}
	</delete>
</mapper>