<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductImage">

	<resultMap type="ProductImage" id="joinProduct">
		<id column="image_id" property="image_id"/>
		<result column="filename" property="filename"/>
		<association column="product_id" property="product" javaType="Product" select="Product.select"/>
	</resultMap>
	
	<select id="selectAll" resultMap="joinProduct">
		select * from product_image
		where product_id=#{product.product_id}
	</select>
	
	<insert id="insert" parameterType="ProductImage">
		insert into product_image(image_id, product_id, filename, original_filename)
		values(seq_product_image.nextval, #{product.product_id}, #{filename}, #{original_filename})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from product_image
		where image_id=#{image_id}
	</delete>
	
</mapper>